<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue & Time Units Animation</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
  <style>
    html, body, main, section {
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 20;
      font-family: 'Poppins', sans-serif;
    }

    nav {
      box-sizing: border-box;
      display: grid;
      grid-column-gap: 0.5em;
      grid-template-columns: repeat(11, 1fr);
      height: 0.1em;
      padding: 0 0.5em;
      position: fixed;
      top: 0.5em;
      width: 100%;
    }

    nav > div {
      background: rgba(0,0,0,0.25);
      height: 100%;
    }

    nav > div > div {
      background: rgb(255, 255, 255);
      height: 100%;
      width: 0%;
    }

    section {
      height: 100%;
      width: 100%;
      transition: background 1s;
      display: flex;
      justify-content: center;
      align-items: center;
      background-size: cover;
      background-position: center;
    }

    .text-container {
      text-align: center;
      line-height: 1.4;
      color: white;
      text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
      opacity: 0;
    }

    .text-container .number {
      font-size: 4em;
      font-weight: 700;
      color: #FAF429;
    }

    .text-container .message {
      font-size: 2em;
      font-weight: 400;
      color: #ffffff;
      margin-top: 1em;
      padding: 10;
      white-space: pre-line;
    }

    body {
      background-color: #282c34;
    }
  </style>
</head>
<body>
  <main id="app">
    <nav>
      <div v-for="(time, index) in times" :key="index">
        <div></div>
      </div>
    </nav>

    <section v-for="(time, index) in times" 
             :key="index" 
             :style="{ backgroundImage: 'url(' + images[index] + ')' }" 
             v-if="current == index">
      <div class="text-container" ref="textContainer">
        <div class="number">{{ time.value }}</div>
        <div class="message">{{ time.message }}</div>
      </div>
    </section>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/animejs@3.2.1/lib/anime.min.js"></script>
  <script src="https://hammerjs.github.io/dist/hammer.min.js"></script>

  <script>
    const app = new Vue({
      el: "#app",
      data() {
        return {
          startDate: new Date("2024-08-28T21:30:00Z"),
          timBirthday: new Date("2009-01-07T07:30:00Z"),
          lindaBirthday: new Date("2007-06-27T09:00:00Z"),
          dateWhen80: new Date("2089-01-07T07:30:00Z"),
          current: 0,
          now: new Date(),
          intervalId: null,
          images: [
            "./images/IMG-20241103-WA0001.jpg",
            "./images/IMG-20241112-WA0003.jpg",
            "./images/PXL_20250124_223628952.jpg",
            "./images/Snapchat-673889231.jpg",
            "./images/Snapchat-933208961.jpg",
            "./images/PXL_20250125_095321814.MP.jpg",
            "./images/PXL_20241223_213638550.jpg",
            "./images/Snapchat-718644104.jpg",
            "./images/Snapchat-1847935618.jpg",
            "./images/IMG-20250125-WA0001.jpg",
            "./images/Snapchat-1868922940.jpg",
          ],
        };
      },
      computed: {
        times() {
          return [
            { value: `${this.getMonthsDifference(this.startDate, this.now)} Months`, message: `${this.getMonthsDifference(this.startDate, this.now)} months have passed since the 28th of August` },
            { value: `${this.getDaysDifference(this.startDate, this.now)} Days`, message: `That's ${this.getDaysDifference(this.startDate, this.now)} days since this very special moment!` },
            { value: `${this.getSecondsDifference(this.startDate, this.now)}`, message: `Or ${this.getSecondsDifference(this.startDate, this.now)} seconds!\nThat's a lot, huh?` },
            { value: `${(this.getDaysDifference(this.startDate, this.now) / this.getDaysDifference(this.timBirthday, this.now) * 100).toFixed(1)}%`, message: `These ${this.getDaysDifference(this.startDate, this.now)} days are ${(this.getDaysDifference(this.startDate, this.now) / this.getDaysDifference(this.timBirthday, this.now) * 100).toFixed(1)}% of my life.` },
            { value: `${(this.getDaysDifference(this.startDate, this.now) / this.getDaysDifference(this.timBirthday, this.now) * 100).toFixed(1)}%`, message: `${(this.getDaysDifference(this.startDate, this.now) / this.getDaysDifference(this.timBirthday, this.now) * 100).toFixed(1)}% of my life, that I\nhave spent with YOU.` },
            { value: `${(this.getDaysDifference(this.startDate, this.now) / this.getDaysDifference(this.timBirthday, this.now) * 100).toFixed(1)}%`, message: `The best ${(this.getDaysDifference(this.startDate, this.now) / this.getDaysDifference(this.timBirthday, this.now) * 100).toFixed(1)}% of my life!` },
            { value: `${(this.getDaysDifference(this.startDate, this.now) / this.getDaysDifference(this.lindaBirthday, this.now) * 100).toFixed(1)}%`, message: `${this.getDaysDifference(this.startDate, this.now)} days is ${(this.getDaysDifference(this.startDate, this.now) / this.getDaysDifference(this.lindaBirthday, this.now) * 100).toFixed(1)}% of your life btw.` },
            { value: `${(this.getDaysDifference(this.startDate, this.dateWhen80) / this.getDaysDifference(this.timBirthday, this.dateWhen80) * 100).toFixed(1)}%`, message: `And I am certain that when I am 80 I will have spent ${(this.getDaysDifference(this.startDate, this.dateWhen80) / this.getDaysDifference(this.timBirthday, this.dateWhen80) * 100).toFixed(1)}% of my life with you.` },
            { value: `Because you are the love of my life and that will never change!!`, message: `Pinky Promise!!`},
            { value: `All of this leads up to one very special question!`, message: `` },
            { value: `Will you be my valentine?`, message: `TODO: Buttons` },
          ];
        },
      },
      methods: {
        getMonthsDifference(start, end) {
          const years = end.getFullYear() - start.getFullYear();
          const months = end.getMonth() - start.getMonth();
          let totalMonths = years * 12 + months;
          if (end.getDate() < start.getDate()) totalMonths--;
          return totalMonths;
        },
        getWeeksDifference(start, end) {
          return Math.floor((end - start) / (1000 * 3600 * 24 * 7));
        },
        getDaysDifference(start, end) {
          return Math.floor((end - start) / (1000 * 3600 * 24));
        },
        getHoursDifference(start, end) {
          return Math.floor((end - start) / (1000 * 3600));
        },
        getMinutesDifference(start, end) {
          return Math.floor((end - start) / (1000 * 60));
        },
        getSecondsDifference(start, end) {
          return Math.floor((end - start) / 1000);
        },
        animateText() {
          const directions = [
            { translateX: [-50, 0] }, // Left
            { translateY: [50, 0] },  // Bottom
            { translateY: [-50, 0] }, // Top
            { translateX: [50, 0] },  // Right
          ];
          const animationProps = directions[this.current % directions.length];
  
          anime({
            targets: this.$refs.textContainer,
            opacity: [0, 1],
            ...animationProps,
            easing: "easeOutExpo",
            duration: 1000
          });
        },
      },
      watch: {
        current() {
          this.$nextTick(this.animateText);
        },
      },
      mounted() {
        let timeline = anime.timeline({
          autoplay: true,
          duration: 10000,
          easing: "linear",
          loop: true
        });
  
        this.times.forEach((_, index) => {
          timeline.add({
            targets: document.querySelectorAll("nav > div")[index].children[0],
            width: "100%",
            changeBegin: () => {
              this.current = index;
            }
          });
        });
  
        let hammertime = new Hammer(document.querySelector("#app"));
  
        hammertime.on("press", () => timeline.pause());
        hammertime.on("pressup", () => timeline.play());
  
        hammertime.on("tap", (e) => {
          if (e.center.x > window.innerWidth / 2 && this.current < this.times.length - 1) {
            this.current++;
          } else if (e.center.x <= window.innerWidth / 2 && this.current > 0) {
            this.current--;
          }
          timeline.pause();
          timeline.seek(this.current * 10000);
          timeline.play();
        });
  
        this.animateText();
  
        // Update `now` every second
        this.intervalId = setInterval(() => {
          this.now = new Date(); // This will force `times` to update
        }, 1000);
      },
      beforeDestroy() {
        clearInterval(this.intervalId); // Clean up interval on component destroy
      },
    });
  </script>
</body>
</html>
