body {
    font-family: Arial, sans-serif;
    background-color: #292929;
    text-align: left;
    margin: 10px;
}

.rectangle {
    width: 1220px;
    height: 800px;
    margin: 20px;
    background-color: rgba(28, 28, 28, 1.00);
    border-radius: 60px;
}

.one {
    background-color: red;
}

.two {
    background-color: orange;
}